.upload-component_wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.upload-component_wrapper .preview {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    background: white;
}
.upload-component_wrapper .preview img {
    width: 65px;
    margin-bottom: 0.5rem;
}
.upload-component_wrapper .preview video {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}
.custum-file-upload {
    height: 100px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    border: 2px dashed #cacaca;
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
}

.custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custum-file-upload .icon svg {
    height: 32px;
    fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.custum-file-upload .text span {
    font-weight: 400;
    color: rgba(75, 85, 99, 1);
    text-align: center;
    line-height: 100%;
    font-size: 12px;
}

.custum-file-upload input {
    display: none;
}
