@media screen and (max-width: 510px) {
    .service-info-title {
        font-size: 26px;
        font-weight: 700;
    }
    .service-main-right-title {
        display: none;
    }
    .service-main-right-subtitle {
        font-size: 24px;
    }
    .service-main-block {
        margin-top: 12px;
    }
    .service-main {
        flex-direction: column-reverse;
    }
    .service-main-left .custom-swiper-nav {
        margin: 0 !important;
    }
    .service-main-left {
        max-height: 300px;
    }
    .service-main .custom-swiper-nav {
        position: relative;
        justify-content: center;
        margin: 12px 0;
    }

    .service-main .custom-swiper-nav button {
        width: 45px;
        background-color: #fff;
    }
}
